@model IEnumerable<WebApplication7.Models.StoreIn>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý đơn nhập</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus icon-green"></i> Tạo mới đơn nhập</a>
</p>
    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(item => item.StoreInId)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.ImprortPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.Quantity)

                </th>
                <th>
                    @Html.DisplayNameFor(item => item.SupplierId)

                </th>
                <th>
                    @Html.DisplayNameFor(item => item.ProductdetailId)
                </th>
                <th></th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreInId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImprortPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                    </td>
                    <td>
                        @item.ProductDetail.Product.ProductName- @item.ProductDetail.Color.ColorName-@item.ProductDetail.Size.SizeName
                    </td>
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.StoreInId">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.StoreInId">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
