@model IEnumerable<WebApplication7.Models.Cart>
@using WebApplication7.Models
@{
    ViewData["Title"] = "Giỏ hàng";
}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tât cả thể loại</span>
                    </div>
                    <ul>
                        @await Component.InvokeAsync("TheLoai")
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả sản phẩm
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn cần tìm gì?">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 68.688.888</h5>
                            <span>hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/Userdata/img/breadcrumb1.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Giỏ hàng</h2>
                    <div class="breadcrumb__option">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @{
                                if (Model != null)
                                {
                                    foreach (var i in Model)
                                    {
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img class="img-fluid" src=@i.Productdetail.Product.ImagePath alt="" style="max-width: 30%; max-height: 30vh; width: auto;">
                                                <h5>@i.Productdetail.Product.ProductName - @i.Productdetail.Color.ColorName - @i.Productdetail.Size.SizeName</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                $ @i.Productdetail.SellingPrice
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qt">
                                                        <span class="dec qtybtn">-</span>
                                                        <input type="text" class="Soluongcapnhat" value="@i.Amount" data-productdetail-id="@i.ProductdetailId" />
                                                        <span class="inc qtybtn">+</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total">
                                                $ @(i.Productdetail.SellingPrice * i.Amount)
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <a asp-action="RemoveFromCart" asp-controller="GioHang" asp-route-ProductdetailId="@i.ProductdetailId"><span class="icon_close"></span></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="5"><h5>Giỏ hàng trống</h5></td></tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-controller="Home" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
@*                     <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a> *@
                </div>
            </div>
@*             <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div> *@
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>
                            Subtotal <span>
                                $
                                @{
                                    decimal? subtotal = 0; // Khởi tạo biến subtotal để tích lũy tổng
                                    if (Model != null)
                                    {
                                        foreach (var i in Model)
                                        {
                                            subtotal += (i.Productdetail.SellingPrice * i.Amount); // Cộng vào subtotal
                                        }
                                    }
                                    @subtotal
                                }
                            </span></li>
                        <li>Total <span>$ @subtotal</span></li>
                    </ul>
                    <a asp-controller="ThanhToan"  class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Shoping Cart Section End -->
<script>
    // cập nhập sản phẩm vào giỏ hàng
    function updateToCart(productDetailId, newQuantity) {
        $.ajax({
            url: '/GioHang/UpdateQuantity',
            type: 'POST',
            data: { productDetailId: productDetailId, newQuantity: newQuantity },
            success: function (result) {
                if (result.success) {
                    // Hiển thị thông báo thành công
                    var notyf = new Notyf();
                    notyf.success(result.message);
                } else {
                    // Hiển thị thông báo lỗi
                    var notyf = new Notyf();
                    notyf.error(result.message);
                }
            },
            error: function () {
                var notyf = new Notyf();
                notyf.error('Vui lòng đăng nhập');
                window.location.href = '@Url.Action("Login", "Account", new { area = "Identity" })?returnUrl=/SanPhamChiTiet/Index/' + productId;
            }
        });
    }
    var proQty = $('.pro-qt');
    // Lắng nghe sự kiện click của các nút +/- trong ô nhập liệu số lượng
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var $input = $button.parent().find('input');
        var oldValue = parseInt($input.val());
        var productId = $input.data('productdetail-id');
        // Kiểm tra nếu nút được nhấn là nút tăng (+)
        if ($button.hasClass('inc')) {
            var newVal = oldValue + 1; // Tăng giá trị lên 1
        } else {
            // Kiểm tra giá trị hiện tại không được nhỏ hơn 1
            if (oldValue > 1) {
                var newVal = oldValue - 1; // Giảm giá trị đi 1
            } else {
                newVal = 1; // Nếu giá trị hiện tại là 1 thì giữ nguyên
            }
        }
        // Cập nhật giá trị mới cho ô nhập liệu
        var $newInput = $('<input>').attr({
            type: 'text',
            class: 'Soluongcapnhat',
            value: newVal,
            'data-productdetail-id': productId
        });
        $input.replaceWith($newInput);
        updateToCart(productId, newVal);
    });
    // Lắng nghe sự kiện input trên input có class là Soluongcapnhat
    proQty.on('input', '.Soluongcapnhat', function () {
        // Lấy giá trị mới từ input
        var newVal = parseInt($(this).val());
        var productId = $(this).data('productdetail-id');
        // Kiểm tra xem giá trị mới có phải là một số không âm
        if (isNaN(newVal) || newVal < 1) {
            newVal = 1; // Nếu không phải thì gán giá trị mặc định là 1
        }
        var $newInput = $('<input>').attr({
            type: 'text',
            class: 'Soluongcapnhat',
            value: newVal,
            'data-productdetail-id': productId
        });
        // Gán giá trị mới vào input
        $(this).replaceWith($newInput);
        updateToCart(productId, newVal);

    });

</script>